# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- Julia
- R

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Plotly
* ggplot2
* Scikit-learn
* matplotlib
* keras

|Data Science Tools|
|--------------------|
|Jupyer Notebook| 
|Jupyter lab|
|Rstudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes in hours is: {hours:.1f} hours")

200 minutes in hours is: 3.3 hours

**Objectives:**
- List popular languages used in Data Science  
- Identify commonly used Data Science libraries  
- Create tables using Markdown  
- Demonstrate simple arithmetic operations in Python  
- Convert values using Python expressions

## Author: 
 *Nanda Kishor Suresh Priya*